.message_input {
    width: 70%;
    margin: 0 auto;
  }

.commentary_input {
  border-radius: 4px;
}

.text-justify {
  font-family:monospace;
  font-size: 18px;
}

.commentaries {
  line-height: 21px;

}

.username_text {
  font-family:monospace;
  font-weight: 880;
}