{% extends "main/base.html" %}
{% load static %}
{% load get_commentaries %}
{% load get_time_difference %}


{% block title %}
<title>Профиль {{user.username}}</title>
{% endblock title %}


{% block content %}
<link rel="stylesheet" href="{% static "users/profile/style.css" %}">
	<!--Navbar-->
	<nav class="navbar navbar-fixed navbar-dark info-color">
    </div>
    </div>
	</nav>
	<!--/.Navbar-->

	<main>

		<div class="container_bio">

			<div class = "user_bio">

				<div class = "leftside_user_bio">
					<div class="row m-b-r m-t-3">
                    {% if is_owner %}
                        <div class="user_image_div">
                            <a href = {% url "user:change_avatar" %}><img src="{{user.image}}" alt="" class="user_image"></a>
                        </div>
                    {% else %}
                        <div class="user_image_div">
                            <img src="{{user.image}}" alt="" class="user_image">
                        </div>
                    {% endif %}


						<div class="col-md-9 p-t-2">
							{% if is_followed %}
							<form> <h2 class="h2-responsive">@{{user.username}}<a type="button" href = {% url "posts:unfollow" %}?username={{user.username}} class="btn btn-info-outline waves-effect">Unfollow</a></h2> </form> 
                            {% elif is_owner %}

							{% else %}
							<form> <h2 class="h2-responsive">@{{user.username}}<a type="button" href = {% url "posts:follow" %}?username={{user.username}} class="btn btn-info-outline waves-effect">Follow</a></h2> </form> 
							{% endif %}
							
							<p>{{user.first_name}} {{user.last_name}}</p>
							<p>Description</p>
						</div>
					</div>
					
					<div class = "bio_other_info">
						<strong>{{posts_num}} posts</strong> <strong class = "followers">{{followers_num}} followers</strong> <strong> {{follows_num}} follow</strong>
					</div>

				</div>		

				{% comment %} <div class = "rightside_user_bio">
						<ul class="flex-menu">
							<li><strong>{{posts_num}}</strong> posts</li>
							<li><strong>{{followers_num}}</strong> followers</li>
							<li><strong>{{follows_num}}</strong> following</li>
						</ul>
				</div> {% endcomment %}

			</div>

		</div>
			
		


		{% comment %} END BIO {% endcomment %}

		{% if has_posts %}                           
        {% for post in posts %}

        <div class="card-body">

            <div class="media">
                <img src="{{post.user.image}}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
        
            <div class="media-body">
                    <a href="{% url "user:profile" post.user.username %}" class = "username_text">{{post.user.username}}</a>
                    <p class="text-justify">{{post.text}}</p>
                    

                    <div class = "user_actions">

                        <form class = "commentary_input" metod = "GET" action = "{% url "posts:commentary" %}">
                            <div class = "custom_commentary_text">

                                <div class = "like">
                                    <a href={% url "posts:post_like" %}?id={{post.id}} class="like_button">
                                        <img src = "{% static "main/like_button/black_heart.svg" %}" height = 30px, width = 30px>
                                    </a>
                                </div>

    
                                <input type="text" name="message" id="message" placeholder="Commentary" class="commentary_input_text">
                                <input type="hidden" name="post_id" value="{{post.id}}">
                                
                                
                                
                                <script>
                                    function myFunction() {

                                        var posts = document.getElementById('post_commentaries')
                                    
                                        if (posts.style.display == "none"){
                                            posts.style.display = "block"
                                        }else{
                                            posts.style.display = "none"
                                        }
                                    
                                      } 
                                </script>

                                <form>
                                    <button type = "button" class = "comment_button" onclick="myFunction()">
                                        <img src = "{% static "main/comment_button/comment-solid.svg" %}" height = 30px, width = 30px>
                                    </button>
                                </form>
                            </div>
                        </form>
    
                    </div>
                    
                    
                <div class = "post_commentaries" id = "post_commentaries" style="display:none">
                    {% comment %} commentaries {% endcomment %}
                    {% get_commentaries post as commentaries %}
                    <p class = "commentaries">
                        {% for commentary in commentaries %}
                            <div class="media">
                                <img src="{{commentary.user.image}}" alt="img" width="30px" height="30px" class="rounded-circle mr-2">
                                <div class="media-body">
                                        <p class="card-text text-justify">{{commentary.user.username}}: {{commentary.text}}</p>

                                </div>


                            </div>
                        {% endfor %}
                    </p>    
                    {% comment %} commentaries {% endcomment %}

                </div>
            
                

            </div>




            <small>{%get_time_difference post.posting_time%}</small>

            </div>





            </div>
            <hr>

        {% endfor %}

            {% comment %} pagination {% endcomment %}

           
            
            {% comment %}  {% endcomment %}


    {% else %}
    <p>Постов нет<p>
    {% endif %}  



{% endblock content %}

