<!DOCTYPE html>
{% extends "main/base.html" %}
{% load static %}
{% load get_commentaries %}
{% load get_time_difference %}

{% block title %}
    <title>{{title}}</title>
{% endblock title %}




{% block left_column %}
    <div class="col-12 col-lg-3">

        <div class="left-column">


            <div class="card card-left1 mb-4" >
                <img src="{% static "img/photo-1455448972184-de647495d428.jpg" %}" alt="" class="card-img-top img-fluid">
                <div class="card-body text-center ">
                <h4>Text</h4>
                    

                </div>




            </div>


            <div class="card shadow-sm card-left2 mb-4">

                <div class="card-body">

                        <h5 class="mb-3 card-title">About <small><a href="#" class="ml-1">Edit</a></small></h5>

                        <p class="card-text"> <i class="fas fa-calendar-week mr-2"></i> Went to <a href="#" class="text-decoration-none">oh canada</a></p>

                        <p class="card-text"> <i class="fas fa-user-friends mr-2"></i> Become a friend with <a href="#" class="text-decoration-none">obama</a></p>
                        <p class="card-text"> <i class="far fa-building mr-2"></i> Work at <a href="#" class="text-decoration-none">Github</a></p>
                        <p class="card-text"> <i class="fas fa-home mr-2"></i> Live in <a href="#" class="text-decoration-none">San francisco</a></p>
                        <p class="card-text"> <i class="fas fa-map-marker mr-2"></i> From <a href="#" class="text-decoration-none">Seattle, WA</a></p>




                </div>
            




            </div>




            <div class="card shadow-sm card-left3 mb-4">

                <div class="card-body">
                    <h5 class="card-title">Photos<small class="ml-2"><a href="#">.Edit </a></small></h5>

                    <div class="row">
                        <div class="col-6 p-1">
                            <a href="{% static "img/left1.jpg" %}" data-lightbox="id" ><img src="{% static "img/left1.jpg" %}" alt="img" class="img-fluid my-2"></a>  
                            <a href="{% static "img/left2.jpg" %}"data-lightbox="id"><img src="{% static "img/left2.jpg" %}" alt="img" class="img-fluid my-2"></a>
                            <a href="{% static "img/left3.jpg" %}"data-lightbox="id"><img src="{% static "img/left3.jpg" %}" alt="img" class="img-fluid my-2"></a>

                        </div>


                        <div class="col-6 p-1">
                                <a href="{% static "img/left4.jpg" %}"data-lightbox="id"><img src="{% static "img/left4.jpg" %}" alt="img" class="img-fluid my-2"></a>
                                <a href="{% static "img/left5.jpg" %}"data-lightbox="id"><img src="{% static "img/left5.jpg" %}" alt="img" class="img-fluid my-2"></a>
                                <a href="{% static "img/left6.jpg" %}"data-lightbox="id"><img src="{% static "img/left6.jpg" %}" alt="img" class="img-fluid my-2"></a>

                            </div>

                    </div>

                </div>







                </div>




        

            





        </div>





    </div>


{% endblock left_column %}






{% block content %}
            <!---------------------------------------Middle columns  start---------------->


        <form class = "message_input" metod = "GET" action = "{% url "posts:post" %}">
                    
            <div class="col-28 col-lg-16" >


                <div class="middle-column">


                    <div class="card" >


                        <div class="card-header bg-transparent">
                            <form class="form-inline">


                                <div class="input-group w-100">
                                <input type="text" name="message" id="message" placeholder="Message" class="form-control form-control-md">

                                <div class="input-group-append">
                                        <div class="input-group-text">
                                                <i class="fas fa-camera"></i>
                                            </div>


                                </div>

                                </div>



                        
                                
                            
                            </form>

                        </div>

        </form>

    


    {% if has_posts %}                           
        {% for post in posts %}

        <div class="card-body">

            <div class="media">
                <img src="{{post.user.image}}" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
        
            <div class="media-body">
                    <a href="{% url "user:profile" post.user.username %}" class = "username_text">{{post.user.username}}</a>
                    <p class="text-justify">{{post.text}}</p>
                    

                    <div class = "user_actions">

                        <form class = "commentary_input" metod = "GET" action = "{% url "posts:commentary" %}">
                            <div class = "custom_commentary_text">

                                <div class = "like">
                                    <a href={% url "posts:post_like" %}?id={{post.id}} class="like_button">
                                        <img src = "{% static "main/like_button/black_heart.svg" %}" height = 30px, width = 30px>
                                    </a>
                                </div>

    
                                <input type="text" name="message" id="message" placeholder="Commentary" class="commentary_input_text">
                                <input type="hidden" name="post_id" value="{{post.id}}">
                                
                                
                                
                                <script>
                                    function myFunction() {

                                        var posts = document.getElementById('post_commentaries')
                                    
                                        if (posts.style.display == "none"){
                                            posts.style.display = "block"
                                        }else{
                                            posts.style.display = "none"
                                        }
                                    
                                      } 
                                </script>

                                <form>
                                    <button type = "button" class = "comment_button" onclick="myFunction()">
                                        <img src = "{% static "main/comment_button/comment-solid.svg" %}" height = 30px, width = 30px>
                                    </button>
                                </form>
                            </div>
                        </form>
    
                    </div>
                    
                    
                <div class = "post_commentaries" id = "post_commentaries" style="display:none">
                    {% comment %} commentaries {% endcomment %}
                    {% get_commentaries post as commentaries %}
                    <p class = "commentaries">
                        {% for commentary in commentaries %}
                            <div class="media">
                                <img src="{{commentary.user.image}}" alt="img" width="30px" height="30px" class="rounded-circle mr-2">
                                <div class="media-body">
                                        <p class="card-text text-justify">{{commentary.user.username}}: {{commentary.text}}</p>

                                </div>


                            </div>
                        {% endfor %}
                    </p>    
                    {% comment %} commentaries {% endcomment %}

                </div>
            
                

            </div>




            <small>{%get_time_difference post.posting_time%}</small>

            </div>





            </div>
            <hr>

        {% endfor %}

            {% comment %} pagination {% endcomment %}

           
            
            {% comment %}  {% endcomment %}


    {% else %}
    <p>Постов нет<p>
    {% endif %} 


        </div>





                    
                        

        </div>









        </div>








        </div>














{% endblock content %}


